<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dqy.englishstudyapi.mapper.ReadMapper">
    <sql id="tableName">read_${suffix}_${suffix2}</sql>
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dqy.englishstudyapi.tablebean.Read">
        <id column="id" property="id" />
        <result column="essay" property="essay" />
        <result column="name" property="name" />
        <result column="author" property="author" />
        <result column="brief" property="brief" />
        <result column="image" property="image" />
        <result column="deleted" property="deleted" />
        <result column="createtime" property="createtime" />
        <result column="updatetime" property="updatetime" />
    </resultMap>

    <select id="selectSimple" resultType="com.dqy.englishstudyapi.entity.frontEntity.ReadSimple.ReadSimple">
        select id,name,author,brief,image,updatetime from   <include refid="tableName"><property name="suffix" value="${suffix}"/><property name="suffix2" value="${suffix2}"/></include> where  deleted = 0
    </select>
    <update id="createTable">
        CREATE TABLE IF NOT EXISTS  <include refid="tableName"><property name="suffix" value="${suffix}"/><property name="suffix2" value="${suffix2}"/></include>  (
            `id` INT NOT NULL AUTO_INCREMENT PRIMARY KEY ,
            `essay` LONGTEXT CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL ,
            `name` VARCHAR( 2000 ) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL,
            `author` VARCHAR( 2000 ) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL,
            `brief` VARCHAR( 2000 ) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL,
            `image` VARCHAR( 2000 ) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL,
            `deleted` INT( 3 ) NOT NULL DEFAULT '0',
            `createtime` DATETIME NOT NULL ,
            `updatetime` TIMESTAMP ON UPDATE CURRENT_TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ,
            INDEX ( `deleted` , `updatetime` )
        ) ENGINE = INNODB CHARACTER SET utf8 COLLATE utf8_general_ci;
    </update>
</mapper>
