<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dqy.englishstudyapi.mapper.ScoresourcetypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dqy.englishstudyapi.tablebean.Scoresourcetype">
        <id column="id" property="id" />
        <result column="dsc" property="dsc" />
        <result column="defaults" property="defaults" />
        <result column="type" property="type" />
        <result column="deleted" property="deleted" />
        <result column="createtime" property="createtime" />
        <result column="updatetime" property="updatetime" />
    </resultMap>

</mapper>
